---
import Layout from "../layouts/Layout.astro";

import logo from "../../public/logo.svg";
import Preview from "../components/Preview.astro";

import TISECAT from "../../public/art/TISECAT.png";
import NEWTREE from "../../public/art/NEWTREE.png";
import light from "../../public/art/light.png";
import Euler from "../../public/art/Euler.png";
import Godel from "../../public/art/Godel.png";
import DALWAVE from "../../public/art/DALWAVE.png";
import GHOSSIAN from "../../public/art/GHOSSIAN.png";
---

<Layout title="homepage">
  <div class="flex items-center justify-center my-32 w-full">
    <img class="w-80" src={logo.src} />
  </div>
  <div class="flex items-center justify-center m-10">
    <div class="grid grid-cols-3 gap-10">
      <Preview path={TISECAT.src} />
      <Preview path={NEWTREE.src} />
      <Preview path={light.src} />
      <Preview path={Euler.src} />
      <Preview path={Godel.src} />
      <Preview path={DALWAVE.src} />
      <Preview path={GHOSSIAN.src} />
    </div>
  </div>
  <div class="flex items-center justify-center w-full"></div>
  <a href="/babelog/" class="flex items-center justify-center">
    <h1 class="text-4xl">🔙</h1>
  </a>
</Layout>
